.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
 
#map-container {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.background {
  width: 400px;
  height: 300px;
  background-image: url("globespin.gif");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.marker {
  background-color: red;
  width: 20px;
  height:20px;
  border-radius: 25px;
}

.entry-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 10px;
}

.entry-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
}

.mapContainer {
  position: absolute;
  width: 100vw;
  height: 50vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  }

  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    background-color: #404040;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }

